<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hkag_app_android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hkag_app_android">
        <activity
            android:name=".home.ui.home_navigation.HomeNavigation"
            android:label="@string/app_name"
            android:theme="@style/Theme.Hkag_app_android.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".information.ui.beadhouse_information.BeadHouseActivity" />
        <activity android:name=".information.ui.contact_information.ContactInformationActivity" />
        <activity android:name=".information.ui.online_learning_brief.OnLineLearningBriefActivity" />
        <activity android:name=".information.ui.latest_events.LatestEventsActivity" />
        <activity android:name=".information.ui.video_play.VideoPlayActivity" />
        <activity android:name=".information.ui.project_brief.ProjectBriefActivity" />
        <activity android:name=".information.ui.website_information.WebsiteInformationActivity" />
        <activity android:name=".information.ui.workshop_brief.WorkshopBriefActivity" />
        <activity android:name=".setting.ui.setting.AppSettingActivity" />
        <activity android:name=".setting.ui.webView.PrivacyPolicyActivity" />
        <activity android:name=".setting.ui.webView.IntellectualPropertyNoticeActivity" />
    </application>

</manifest>